<h1>Bonjour et bienvenue les amis !</h1>


<p> Essayez notre première application en ligne! c'est une application d'entrainement, un clone d'Airbnb, qui est encore en cours de développement. Nous sommes déjà très fiers de pouvoir vous présenter notre travail, n'hésitez pas à nous dire ce que vous en pensez sur Facebook à : <br> Mickaël Thely-Balducci <br> ou <br> Vincent Michel.</p>
