<p>Hello <%= @resource.email %>!</p>

<p>Vous avez demandé à réinitialiser votre mot de passe, cliquez sur le lien ci-dessous:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de la demande, ignorez simplement cet email.</p>
